config/dot-config/htop/
config/dot-config/litecli/
config/dot-config/marimo/
config/.config/wslu/
config/.config/git/config.local
config/.config/git/attributes
config/.config/gh
config/.config/io.datasette.llm
config/.config/htop/
config/.config/sqls/
config/.config/envman/
config/.config/nvim/lazy-lock.json
**/.env
